<div class="row">
    <!--<div class="span2">
        <table border="1">
            <tr class="row" ng-repeat="session in sessions">
                <td>{{session.object.title}}</td>
            </tr>
        </table>

    </div>-->
    <div span="span4" ng-repeat="(day, object) in grouped">
        <h1>Slots for {{object.day}}</h1>
        <table class="table table-bordered table-hover">
            <thead>
             <tr><th>Time</th><th ng-repeat="room in rooms">{{room.object.name}}</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="slot in object.slots">
                <td>{{slot.formatted}}</td>
                <td ng-repeat="room in rooms">
                    {{sessionByRoom(sessions[slot.item.href], room).object.title}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>