<div class="session">
    <h2>{{session.object.title}}</h2>
    <div class="row row-padding">
        <div class="span2">Highlight Summary</div><div class="span4" ng-bind-html="session.summary_html"></div>
    </div>
    <div class="row row-padding abstract">
        <div class="span2">Abstract</div><div class="span4" ng-bind-html="session.body_html"></div>
    </div>
    <div ng-show="session.outline_html" class="row row-padding">
        <div class="span2">Outline</div><div class="span4" ng-bind-html="session.outline_html"></div>
    </div>
    <div class="row row-padding">
        <div class="span2">State</div>
        <div class="span1">
            <i class="{{session.state.icon}}" title="{{session.state.name}}"></i>
        </div>
        <div class="span2">Format</div>
        <div class="span1">
            <i class="{{session.format.icon}}" title="{{session.format.name}}"></i>
        </div>
    </div>
    <div class="row row-padding">
        <div class="span2">Level</div>
        <div class="span1"><span ng-repeat="icon in session.level.icons track by $index" title="{{session.level.name}}"><span class="{{icon}}"></span></span></div>
        <div class="span2">Lang</div>
        <div class="span1">
            <img src="img/blank.gif" class="{{session.lang.css}}" alt="{{session.lang.title}}" />
        </div>
    </div>
    <div class="row row-padding" ng-if="session.video">
        <div class="span2">Video</div>
        <div class="span4"><a href="{{session.video.href}}">Watch video</a></div>
    </div>
    <div ng-show="session.audience_html" class="row row-padding">
        <div class="span2">Expected Audience</div><div class="span4" ng-bind-html="session.audience_html"></div>
    </div>
    <div ng-show="session.equipment_html" class="row row-padding">
        <div class="span2">Equipment</div><div class="span4" ng-bind-html="session.equipment_html"></div>
    </div>
    <div class="row row-padding">
        <div class="span2">Room</div>
        <div class="span1">{{session.room.prompt}}</div>
        <div class="span1">Slot</div>
        <div class="span2">{{session.slot.parsed.day}} - {{session.slot.parsed.startTime}} {{session.slot.parsed.endTime}}</div>
    </div>
    <div class="row row-padding">
        <div class="span2">Keywords</div>
        <div class="span4">{{session.keywordsAsString}}</div>
    </div>
    <div class="row row-padding" ng-show="signedIn">
        <div class="span2">Tags</div>
        <div class="span6">
            <ul id="myTags" class="span4"></ul>
            &nbsp;
            <button class="btn btn-primary" ng-click="updateTags()">Update tags</button>
        </div>
    </div>

    <div class="row row-padding" ng-show="signedIn">
        <div class="span2">Assign Slot</div>
        <div class="span6">
            <select class="span4" ng-model="selectedSlot">
                <option ng-repeat="slot in slotsBySession(session)" value="{{slot.item.href}}" ng-selected="{{slot.item.href == session.slot.href}}">{{slot.day}} - {{slot.formatted}}</option>
            </select>
            &nbsp;
            <button class="btn btn-primary" ng-click="updateSlot()">Set Slot</button>
        </div>
    </div>
    <div class="row row-padding" ng-show="signedIn">
        <div class="span2">Assign Room</div>
        <div class="span6">
            <select class="span4" ng-model="selectedRoom">
                <option ng-repeat="room in rooms" value="{{room.item.href}}" ng-selected="{{room.item.href == session.room.href}}">{{room.object.name}}</option>
            </select>
            &nbsp;
            <button class="btn btn-primary" ng-click="updateRoom()">Set Room</button>
        </div>
    </div>
    <div class="row row-padding" ng-show="signedIn">
        <div class="span2">State</div>
        <div class="span6">
            <select class="span4" ng-model="session.object.state" ng-options="s for s in states"></select>
        </div>
    </div>
    <div class="row row-padding" ng-show="signedIn">
        <div class="span2">Update</div>
        <button class="btn btn-primary" ng-click="updateSession()">Update</button>
    </div>
    <div class="row row-padding" ng-show="signedIn">
        <div class="span2">Publish</div>
        <button class="btn btn-primary" ng-click="publish()">Publish</button>
    </div>
    <div ng-repeat="speaker in speakers">
        <h2>{{speaker.object.name}}</h2>
        <div class="row row-padding">
            <div class="span1">
                <img class="photo" ng-src="{{speaker.photo}}" width="100" height="100"/>
            </div>
            <div class="span6">{{speaker.object.bio}}</div>
        </div>
        <div class="row row-padding" ng-show="speaker.object.email">
            <div class="span1">Email</div><div class="span6">{{speaker.object.email}}</div>
        </div>
    </div>

    <div class="row row-padding" ng-show="showSuccess">
        <div class="alert alert-success" >Tags successfully updated</div>
    </div>
</div>