<div class="session">
    <h2>{{session.object.title}}</h2>
    <div class="row row-padding">
        <div class="span2">Highlight Summary</div><div class="span4" ng-bind-html="session.summary_html"></div>
    </div>
    <div class="row row-padding abstract">
        <div class="span2">Abstract</div><div class="span4" ng-bind-html="session.body_html"></div>
    </div>
    <div ng-show="session.outline_html" class="row row-padding">
        <div class="span2">Outline</div><div class="span4" ng-bind-html="session.outline_html"></div>
    </div>
    <div class="row row-padding">
        <div class="span2">State</div>
        <div class="span1">
            <i class="{{session.state.icon}}" title="{{session.state.name}}"></i>
        </div>
        <div class="span2">Format</div>
        <div class="span1">
            <i class="{{session.format.icon}}" title="{{session.format.name}}"></i>
        </div>
    </div>
    <div class="row row-padding">
        <div class="span2">Level</div>
        <div class="span1"><span ng-repeat="icon in session.level.icons" title="{{session.level.name}}"><span class="{{icon}}"></span></span></div>
        <div class="span2">Lang</div>
        <div class="span1">
            <img src="img/blank.gif" class="{{session.lang.css}}" alt="{{session.lang.title}}" />
        </div>
    </div>
    <div ng-show="session.audience_html" class="row row-padding">
        <div class="span2">Expected Audience</div><div class="span4" ng-bind-html="session.audience_html"></div>
    </div>
    <div ng-show="session.equipment_html" class="row row-padding">
        <div class="span2">Equipment</div><div class="span4" ng-bind-html="session.equipment_html"></div>
    </div>
    <div class="row row-padding">
        <div class="span2">Keywords</div>
        <div class="span4">{{session.keywordsAsString}}</div>
    </div>

    <div ng-repeat="speaker in speakers">
        <h2>{{speaker.object.name}}</h2>
        <div class="row row-padding">
            <div class="span1">
                <img class="photo" ng-src="{{speaker.photo}}" width="100" height="100"/>
            </div>
            <div class="span6">{{speaker.object.bio}}</div>
        </div>        

    </div>


    <div class="row row-padding">
        <ul id="myTags" class="span8">        
        </ul>   
        &nbsp;
        <button class="btn" ng-click="updateTags()">Update tags</button>
    </div>
    <div class="row row-padding" ng-show="showSuccess">
        <div class="alert alert-success" >Tags successfully updated</div>
    </div>

</div>