<h2 class="editable" data-field="title">{{session.title}}</h2>
<div class="span6">
    <div class="span3 editable" data-field="summary">{{session.summary}}</div>
    <div class="span3 editable" data-field="body">{{session.body}}</div>
    <div class="span3 editable" data-field="audience">{{session.audience}}</div>
    <div class="span3 editable" data-field="outline">{{session.outline}}</div>
    <div class="span3 editable" data-field="level">{{session.level}}</div>
    <div class="span3 editable" data-field="level">{{session.format}}</div>
    <img src="/img/blank.gif" class="flag flag-{{session.locale}}" alt="{{session.locale}}" />
</div>