<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <filter>
        <filter-name>application</filter-name>
        <filter-class>cake.Application</filter-class>
    </filter>

    <filter>
        <filter-name>login</filter-name>
        <filter-class>cake.LoginPlan</filter-class>
    </filter>
    <filter>
        <filter-name>ajax</filter-name>
        <filter-class>cake.EmsProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>application</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ajax</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
   <mime-mapping>
     <extension>woff</extension>
     <mime-type>application/x-font-woff</mime-type>
   </mime-mapping>
</web-app>