<h2>Sessions for {{name}}</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th ng-click="sortSessionBy='title'">title</th>
        <th ng-click="sortSessionBy='speaker'">speakers</th>
        <th>state</th>
        <th>format</th>
        <th>lang</th>
        <th>level</th>
        <th ng-show="session.object.tags">tags</th>
        <th>keywords</th>
    </tr>
     <tr>
        <th><input type="text" ng-model="filterValues.title" ng-change="filterChanged()"/></th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="session in filteredSessions | orderBy:orderSessionsFunction">
            <td><a href="#/events/{{eventSlug}}/sessions/{{session.object.slug}}">{{session.object.title}}</a></td>
            <td>{{session.speakersAsString}}</td>
            <td><i class="{{session.state.icon}}" title="{{session.state.name}}"></i></td>
            <td><i class="{{session.format.icon}}" title="{{session.format.name}}"></i></td>
            <td><img src="blank.gif" class="{{session.lang.css}}" alt="{{session.lang.title}}" /></i></td>
            <td><span ng-repeat="icon in session.level.icons" title="{{session.level.name}}"><span class="{{icon}}"></span></span></td>
            <td ng-show="session.object.tags">{{session.tagsAsString}}</td>
            <td>{{session.keywordsAsString}}</td>
        </tr>
    </a>
    </tbody>

</table>
