<h2>Sessions for {{name}}</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>title</th>
        <th>speakers</th>
        <th>state</th>
        <th>format</th>
        <th>level</th>
        <th>tags</th>
        <th>keywords</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="session in sessions">
        <td>{{session.data.title}}</td>
        <td><div>{{session.speakersAsString}}</div></td>
        <td><i class="{{session.state.icon}}" title="{{session.state.name}}"></i></td>
        <td><i class="{{session.format.icon}}" title="{{session.format.name}}"></i></td>
        <td><span ng-repeat="icon in session.level.icons" title="{{session.level.name}}"><span class="{{icon}}"></span></span></td>
        <td><div>{{session.tagsAsString}}</div></td>
        <td>{{session.keywordsAsString}}</td>
    </tbody>
  </tr>

</table>
